# Core
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
joblib==1.4.2

# Modelos ML
xgboost==2.0.3
lightgbm==4.3.0
catboost==1.2.5

# Optimización de hiperparámetros
optuna==3.5.0

# Balanceo de dataset
imbalanced-learn==0.12.2

# Visualización y dashboard
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.20.0
streamlit==1.36.0

# Interpretabilidad SHAP
shap==0.44.1

# Generación de PDF
reportlab==4.2.2

# Utilidades
tqdm==4.66.4
scipy==1.13.1
